@media screen and (max-width: 1675px) {
    .more-news {
        max-width: 28.85%;
    }
}

@media screen and (max-width: 1095px){ 
    .hero {
        width: 100%;
    }
    header {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .more-news {
        margin: 0 auto;
        max-width: 100%;
    }
    .more-news > hr {
        margin: 0 auto;
        max-width: 608px;
        width: auto;
    }
    .news-scroll {
        margin: 40px auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
    }
    .news-scroll-arrows {
        width: 8%;
        gap: 85%;
    }
    .more-news-article-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        max-width: 608px;
        margin: 40px auto 0;
    }
    .more-news article {
        width: 50%;
    }
    .more-news article > p {
        max-width: 284px;
    }
    .trending-section {
        max-width: 1160px;
        width: auto;
    }
    .trending-wrapper {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .grid-parent {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .grid-child {
        margin-left: 40px;
    }
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-left-flex, .footer-right-flex {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer-left-flex {
        gap: 5%;
    }
    .footer-right-flex {
        gap: 17.5%;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    .social-links {
        margin: 0;
    }

    /* story.html responsive */
    .story-date-selector {
        margin: 87px auto;
        max-width: 366px;
    }
}

@media screen and (max-width: 768px){
    .hero > img {
        max-width: 768px;
        max-height: 400px;
    }
    .trending-section {
        max-width: 608px;
    }
    .trending-wrapper {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        max-width: 608px;
    }
    .trending-child {
        max-width: 284px;
        margin-left: 40px;
    }
    .trending-child img {
        max-width: 284px;
    }
    .happening-header-flex {
        max-width: 608px;
        margin: 0 auto;
    }
    .grid-parent {
        margin: 0 auto;
        max-width: 608px;
    }
    .column {
        max-width: 608px;
    }
    .column img {
        max-width: 608px;
    }
    .grid-child {
        margin-left: auto;
    }
    .golden-gate-textover, .forest-textover {
        max-height: 350px;
    }
    .golden-gate-textover > h2, .forest-textover > h2 {
        margin-bottom: 195px;
    }
    .golden-gate-textover > * {
        max-height: 350px;
    }
    .golden-gate-textover > h2, h1, .forest-textover > h2, h1 {
        max-width: 528px;
    }
    .golden-gate-textover > h3, .forest-textover > h3 {
        min-width: 528px;
    }
    .golden-gate-textover > .post-time-counter, .forest-textover > .post-time-counter {
        max-width: 80px;
    }
    .column:nth-child(1) img{
        min-height: 430px;
    }
    .trending-child:nth-child(3n){
        display: none;
    }
    .column:nth-child(2n){
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .column:nth-child(2n) > .grid-child:nth-child(2n){
        margin-left: 40px;
    }
    .column:nth-child(2n) > .grid-child img {
        max-width: 284px;
    }
    .grid-child:nth-child(3n){
        display: none;
    }

    /* story.html responsive */
    .story-date-selector {
        max-width: 366px;
    }
    .paragraph-section {
        max-width: 608px;
        margin: 0 auto;
    }
    .paragraph-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
    }
    .paragraph-flex > div {
        margin-bottom: 20px;
    }
    .paragraph-flex h1 {
        max-width: 300px;
    }
    .paragraph-child-flex p {
        max-width: 284px;
    }
    .paragraph-flex .post-time-counter {
        width: 305px;
    }
    .paragraph-desc {
        max-width: 608px;
    }
    .paragraph-desc img {
        max-width: 608px;
    }
    .paragraph-desc p {
        font-size: 16px;
        font-weight: normal;
    }
    .paragraph-desc > p:nth-child(4n) {
        display: inline-block;
    }
    .footer-left-flex {
        gap: 5%;
    }
}

@media screen and (max-width: 580px){
    ul li {
        padding: 0 10px;
    }
    .hero-text-area, .hero-text-area > hr, .hero-text-area > h2 {
        max-width: 350px;
        white-space: normal;
    }
    
    .more-news > hr {
        max-width: 445px;
    }
    .more-news-article-section {
        max-width: 440px;
    }
    .trending-section {
        max-width: 445px;
    }
    .trending-section .trending-child > img {
        max-width: 220px;
    }
    .trending-child {
        margin-left: 5px;
    }
    .trending-child > h4 {
        margin: 43px 0px 0px 25px;
    }
    .trending-child > p {
        margin: 0px 0px 10px 25px;
    }
    .trending-child > div {
        margin-left: 25px;
    }
    .happening-header-flex {
        max-width: 445px;
    }
    .grid-parent {
        max-width: 445px;
    }
    .column {
        max-width: 445px;
    }
    .column:nth-child(1) img {
        max-width: 445px;
    }
    .golden-gate-textover > h3, .forest-textover > h3 {
        min-width: 410px;
    }
    .column:nth-child(2n) > .grid-child img {
        max-width: 203px;
    }
    .footer-list-container {
        margin-right: 100px;
    }
    .footer-right-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 375px){
    .hero > img {
        max-width: 375px;
        max-height: 388px;
    }
    .hero-text-area {
        max-width: 340px;
    }
    .hero-text-area button {
        width: 151px;
        height: 40px;
    }
    .more-news, .news-scroll, .more-news-article-section, .trending-section, .grid-content-section, .grid-content-section, .grid-parent, .column {
        max-width: 327px;
    }
    .more-news-article-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .more-news article {
        width: 100%;
    }
    .more-news article > p {
        max-width: 300px;
    }
    article:nth-child(2n){
        margin-top: 40px;
    }
    .trending-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .trending-child {
        margin: 0 auto;
        max-width: 327px;
    }
    .trending-section .trending-child > img {
        max-width: 327px;
    }
    .trending-child > h4 {
        margin: 32px 24px 10px 24px;
    }
    .trending-child > p {
        max-width: 290px;
        margin: 0px 0px 10px 24px;
    }
    .trending-child > div {
        margin-left: 24px;
    }
    .column:nth-child(1) img {
        max-width: 327px;
        max-height: 300px;
        min-height: 300px;
    }
    .golden-gate-textover, .forest-textover {
        max-height: 236px;
    }
    .golden-gate-textover > h1, .forest-textover > h1 {
        margin-bottom: 50px;
    }
    .golden-gate-textover > h2, h1, .forest-textover > h2, h1 {
        max-width: 300px;
    }
    .golden-gate-textover > h2, .forest-textover > h2 {
        margin-bottom: 56px;
    }
    .golden-gate-textover > h3, .forest-textover > h3 {
        min-width: 290px;
    }
    footer {
        display: none;
    }
    .column:nth-child(2n) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .column:nth-child(2n) > div, .column:nth-child(2n) > .grid-child:nth-child(2n) {
        margin-left: 0;
    }
    .column:nth-child(2n) > .grid-child img {
        max-width: 327px;
    }
    .grid-child:nth-child(3n) {
        display: inline-block;
        margin-bottom: 24px;
    }
    #defaultNav, #defaultNavStory {
        display: none;
    }
    /* story.html responsive */
    #mobileNav, #mobileNavStory {
        display: block;
    }
    .mobile-nav-container-story {
        gap: 80%;
    }
    .story-heading {
        display: none;
    }
    .story-hero {
        max-width: 375px;
        max-height: 388px;
    }
    .story-hero img {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        max-height: 388px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .story-hero-textarea {
        top: 50%;
    }
    .story-hero-textarea > h2 {
        max-width: 220px;
        white-space: normal;
    }
    .story-date-selector {
        margin: 40px auto;
        max-width: 327px;
    }
    input[type=text], select {
        max-width: 327px;
    }
    .paragraph-section {
        max-width: 327px;
    }
    .paragraph-child-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 20px;
    }
    .paragraph-flex .post-time-counter {
        margin-top: 24px;
    }
    .paragraph-section hr:nth-child(3n) {
        margin-top: -20px;
    }
    .paragraph-desc {
        max-width: 327px;
    }
    .paragraph-desc img {
        max-width: 327px;
        max-height: 180px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .paragraph-desc p {
        font-size: 14px;
    }
    .paragraph-desc > p:nth-child(4n) {
        font-size: 16px;
    }
    .pagination {
        max-width: 233px;
    }
    .pagination div {
        width: 100%;
    }

    /* burger menu */
    .burger-menu footer {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 22vh;
        padding: 150px 0 0;
    }
    .burger-menu footer .footer-list a {
        font-weight: bold;
        color: #ffffff80;
    }
    .burger-menu footer > * {
        padding: 0;
    }
    .burger-menu footer .footer-list a {
        margin-left: 20px;
    }
    .burger-menu footer .footer-left-flex {
        position: absolute;
        bottom: 30%;
        width: 65%;
        left: 12%;
    }
    .footer-right-flex {
        position: absolute;
        top: 80%;
        left: -5%;
    }
    .burger-menu .social-links a:nth-child(1) {
        margin-left: 0;
    }
}

@media screen and (max-width: 300px){
    .hero-text-area, .hero-text-area > hr, .hero-text-area > h2 {
        max-width: 270px;
    }
    .news-scroll {
        max-width: 240px;
    }
    .more-news, .more-news-article-section, .trending-section, .grid-content-section, .grid-content-section, .grid-parent, .column {
        max-width: 290px;
    }
    .trending-child > h4{
        margin: 32px 24px 10px 4px;
    }
    .trending-child > p{
        margin: 0px 0px 10px 4px;
    }
    .trending-child > div {
        margin-left: 4px;
    }
    .golden-gate-textover > h3, .forest-textover > h3 {
        min-width: 250px;
    }
    .grid-child > h4 {
        margin-left: 4px;
    }
    .grid-child .post-time-counter {
        margin-left: 4px;
    }
}