@font-face {
    font-family: 'Helvetica';
    src: 
        url('./fonts/helvetica/Helvetica-Light.ttf') format("truetype"),
        url('./fonts/helvetica/Helvetica-Light.woff') format("woff"),
        url('./fonts/helvetica/Helvetica-Light.woff2') format("woff2");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: 
        url('./fonts/helvetica/Helvetica-Medium.ttf') format("truetype"),
        url('./fonts/helvetica/Helvetica-Medium.woff') format("woff")
        url('./fonts/helvetica/Helvetica-Medium.woff2') format("woff2");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: 
        url('./fonts/helvetica/Helvetica-Bold.ttf') format("truetype"),
        url('./fonts/helvetica/Helvetica-Bold.woff') format("woff"),
        url('./fonts/helvetica/Helvetica-Bold.woff2') format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Acumin Pro';
    src: 
        url('./fonts/acuminpro/Acumin-Light.ttf') format("truetype"),
        url('./fonts/acuminpro/Acumin-Light.woff') format("woff"),
        url('./fonts/acuminpro/Acumin-Light.woff2') format("woff2");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Acumin Pro';
    src: 
        url('./fonts/acuminpro/Acumin-Medium.ttf') format("truetype"),
        url('./fonts/acuminpro/Acumin-Medium.woff') format("woff"),
        url('./fonts/acuminpro/Acumin-Medium.woff2') format("woff2");
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Acumin Pro';
    src: 
        url('./fonts/acuminpro/Acumin-Bold.ttf') format("truetype"),
        url('./fonts/acuminpro/Acumin-Bold.woff') format("woff"),
        url('./fonts/acuminpro/Acumin-Bold.woff2') format("woff2");
    font-weight: bold;
    font-style: normal;
}
/* global styles */

:root {
    --heading-color: #202124;
    --par-color: #A6ADB4;
    --hero-section-color: #EBEDED;
    --body-color: #F6F8F9;
    --unused-color: #FFFFFF;
    --bodytext-color: #72ACFF;
    --title-color: #52E5BA;
    --id-color: #FFC96C;
    --button-color: #FA6980;
    --userid-color: #FF4D4D;
}

body {
    overflow: hidden;
    scroll-behavior: smooth;
}


h1 {
    font-family: Helvetica, serif;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 24px;
}

h2 {
    font-family: Helvetica, serif;
    font-weight: bold;
    white-space: nowrap;
    font-size: 24px; 
}

h3 {
    font-family: Helvetica, serif;
    font-weight: bold;
    white-space: nowrap;
    font-size: 16px;
}

h4 {
    font-family: Helvetica, serif;
    font-weight: bold;
    white-space: nowrap;
    font-size: 16px;
}

p {
    font-family: Helvetica, serif;
    font-weight: lighter;
    font-size: 16px;
    color: var(--par-color);
}

button {
    font-size: 11px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    width: 134px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--button-color);
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* index.html styling */

/* navbar section */

nav {
    width: 100%;
    margin: 0 auto;
}

.nav-container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
}

.nav-container > ul {
    margin-right: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo {
    text-transform: uppercase;
    font-size: 13px;
    color: var(--button-color);
    margin-left: 1%;
}

a {
    text-decoration: none;
    font-family: Helvetica, serif;
    font-weight: bold;
}

.profile-image-navbar {
    height: 30px;
}

ul li {
    font-family: Helvetica, serif;
    display: inline-block;
    padding: 0 20px;
}

li > a {
    color: var(--par-color);
    font-size: 11px;
    text-transform: uppercase;
}

/* header / hero section */

header {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero {
    width: 1120px;
    position: relative;
    display: inline-block;
}

.hero > img {
    width: 100%;
    min-width: 850px;
    max-height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
}

.hero-text-area {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hero-text-area > h1 {
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.hero-text-area > hr {
    width: 560px;
    margin-bottom: 40px;
    border: 1px solid white;
    outline: none;
}

.hero-text-area > h2 {
    color: #fff;
    margin-bottom: 10px;
}

.hero-text-area > p {
    color: #fff;
    margin-bottom: 30px;
}

.more-news {
    display: block;
    width: 100%;
    margin-left: auto;
    max-width: 35.85%;
}

.news-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 380px;
    margin-bottom: 38px;
    gap: 40%;
}

.news-scroll-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    gap: 50%;
}

.news-scroll-arrows > a {
    font-family: sans-serif;
}

.more-news > hr {
    border: 1px solid var(--hero-section-color);
    width: 350px;
    outline: none;
    margin: 0;
    padding: 0;
}

.more-news-article-section > article {
    margin-top: 40px;
}

article > h3 {
    text-transform: uppercase;
    color: var(--button-color);
    margin-bottom: 20px;
}

article > h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: black;
}

article > p {
    display: inline-block;
    max-width: 55%;
}

.post-time-counter {
    width: 95px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.post-time-counter > p {
    white-space: nowrap;
}

/* trending section */

.trending-section {
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
}

.trending-section > h1 {
    margin-bottom: 40px;
}

.trending-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.trending-child {
    display: block;
    text-align: left;
    border-radius: 8px;
    max-width: 360px;
    width: 360px;
    height: 350px;
}

.trending-child > h4 {
    margin: 43px 0px 10px 40px;
}

.trending-child > p {
    margin: 0px 0px 10px 40px;
}

.trending-child > div {
    width: 75px;
    margin-left: 40px;
}

/* grid section */

.grid-content-section {
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
}

.happening-header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.happening-header-flex > .news-scroll-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 8%;
    gap: 65%;
}

#GoldenGate {grid-area: goldengate;}
#Forest {grid-area: forest;}
#Elephant {grid-area: elephant;}
#Parrot {grid-area: parrot;}
#NarrowRoad {grid-area: narrowroad;}

.grid-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1%;
}

.grid-child {
    margin-top: 40px;
    position: relative;
    display: inline-block;
}

.grid-child > h4 {
    margin-top: 20px;
}

.grid-child a {
    color: var(--par-color);
    font-weight: lighter;
    text-decoration: underline;
}

.golden-gate-textover, .forest-textover {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.golden-gate-textover > h1,
.forest-textover > h1 {
    color: #fff;
    text-transform: none;
}

.golden-gate-textover > h2,
.forest-textover > h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 266px;
}

.golden-gate-textover > h3,
.forest-textover > h3 {
    color: #fff;
    display: inline-block;
    white-space: normal;
    font-weight: lighter;
    min-width: 720px;
}

.golden-gate-textover > .post-time-counter
.forest-textover > .post-time-counter {
    width: 80px;
}

/* footer section */

footer {
    width: 100%;
    margin: 100px auto 0;
    background-color: var(--par-color);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-left-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
}

.footer-left-flex > .logo {
    margin-right: 39px;
    color: white;
}

footer > * {
    padding: 56px 0 60px 0;
}

.footer-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-list li {
    display: block;
}

.footer-list a {
    font-size: 13px;
    color: #CBD0D3;
}

.footer-right-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
}

.email-input {
    width: 262px;
    position: relative;
}

.email-input > input {
    outline: none;
    width: 218px;
    height: 36px;
    border-radius: 6px;
    border: 2px #B8BEC3 solid;
    padding: 0 20px;
    background-color: transparent;
    font-family: Helvetica, serif;
    font-size: 14px;
}

.email-input > input::-webkit-input-placeholder {
    font-family: Helvetica, serif;
    font-weight: lighter;
    color: #B8BEC3;
}

.email-input > input::-moz-placeholder {
    font-family: Helvetica, serif;
    font-weight: lighter;
    color: #B8BEC3;
}

.email-input > input:-ms-input-placeholder {
    font-family: Helvetica, serif;
    font-weight: lighter;
    color: #B8BEC3;
}

.email-input > input::-ms-input-placeholder {
    font-family: Helvetica, serif;
    font-weight: lighter;
    color: #B8BEC3;
}

.email-input > input::placeholder {
    font-family: Helvetica, serif;
    font-weight: lighter;
    color: #B8BEC3;
}

.email-input > #submitClick {
    position: absolute;
    top: 31%;
    right: -7%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: none;
    padding: 0;
    margin: 0;
    color: transparent;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-image: url(../src/homepage/send.png);
    background-repeat: no-repeat;
    background-position: center;
}

.email-input > label {
    display: inline-block;
    margin-top: 11px;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: lighter;
    color: #CBD0D3;
    min-width: 230px;
}

.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    margin: 0 auto;
    max-width: 100%;
}

/* story.html styling */

.story-header {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.story-hero {
    width: 100%;
    max-width: 580px;
    height: 500px;
    position: relative;
}

.story-hero img {
    margin-left: auto;
    margin-right: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

.story-hero-textarea > h1 {
    font-size: 32px;
    color: white;
    text-align: center;
}

.story-hero-textarea > h2 {
    margin-top: 20px;
    font-size: 16px;
    color: white;
    text-align: center;
}

.hero-avatar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero-avatar > img {
    margin-top: 65px;
}

.story-hero-textarea > hr {
    margin-top: 20px;
    border: 1px var(--button-color) solid;
    width: 40px;
}

.story-date-selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-left: auto;
    max-width: 40.5%;
}

.story-date-selector > select {
    margin-bottom: 40px;
}

label {
    display: inline-block;
    max-width: 130px;
    font-family: Acumin Pro, serif;
    font-size: 13px;
    font-weight: bold;
}

option, #date {
    font-family: Helvetica, serif;
    font-weight: lighter;
    font-size: 13px;
    color: var(--par-color);
    padding: 0 20px;
}

input[type=text], select {
    width: 100%;
    margin: 10px 0;
    width: 360px;
    height: 40px;
    display: inline-block;
    border: 1px solid #EBEDED;
    background-color: transparent;
    outline: none;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.story-heading {
    width: 100%;
    max-width: 1160px;
    margin: 42px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.heading-current-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 200px;
}

.heading-current-page > svg {
    min-width: 16px;
    min-height: 16px;
}

.heading-current-page {
    margin-right: 30px;
}

.heading-current-page span {
    font-size: 11px;
    text-transform: uppercase;
    font-family: Helvetica, serif;
    font-weight: bold;
}

#currentSection {
    color: var(--par-color);
}

.heading-filter {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: 2px #EBEDED solid;
    background-color: transparent;
    position: relative;
}

.paragraph-section {
    margin: 40px auto 0;
    width: 100%;
    max-width: 1160px;
}

.paragraph-section hr {
    border: 2px #EBEDED solid;
}

.paragraph-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 40px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.paragraph-flex img {
    margin-bottom: 20px;
}

.paragraph-flex h1 {
    font-family: Acumin Pro, serif;
    font-weight: bold;
    white-space: normal;
    text-transform: capitalize;
}

.paragraph-flex p {
    font-size: 14px;
}

.paragraph-flex .post-time-counter {
    width: 85px;
}

.paragraph-child-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
}

.paragraph-child-flex p {
    width: 360px;
}

.paragraph-desc {
    width: 100%;
    max-width: 1160px;
    margin: 40px auto;
}

.paragraph-desc > p {
    font-size: 14px;
    display: inline-block;
    margin-top: 40px;
    max-width: 760px;
}

.paragraph-desc > p:nth-child(4n) {
    display: none;
}

.paragraph-desc > hr {
    margin: 40px 0;
    border: 2px #EBEDED solid;
}

.paragraph-desc span {
    margin-top: 40px;
}

.paragraph-desc p:nth-child(4n) {
    color: #000;
}

.mobile-nav-container, .mobile-nav-container-story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 37%;
    padding: 10px 0px;
}

.mobile-nav-container > a {
    text-transform: uppercase;
    color: var(--par-color);
    font-size: 13px;
    height: 16px;
    width: 16px;
}

.mobile-nav-container img {
    width: 16px;
    height: 16px;
}

#mobileNav, #mobileNavStory {
    display: none;
}

#burgerIcon {
    cursor: pointer;
}

.pagination {
    width: 100%;
    max-width: 608px;
    margin: 0 auto;
}

.pagination div {
    width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
}

.pagination a {
    text-decoration: none;
    color: var(--par-color);
    font-family: Helvetica, serif;
    font-weight: bold;
    font-size: 11px;
    padding: 11px 1px;
}

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0px;
    height: 100vh;
    overflow: auto;
    background-color: var(--body-color);
    -webkit-box-shadow: 0px 0px 100px #00000099;
            box-shadow: 0px 0px 100px #00000099;
}

.burger-flex {
    margin-top: 40px;
}

.burger-flex a:nth-child(1) {
    text-transform: uppercase;
    color: var(--button-color);
    margin-left: 40px;
}

.burger-flex ul {
    width: 60%;
    margin: 90px auto 0;
}

.burger-flex li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    padding: 20px 0px;
}

.burger-flex img {
    width: 16px;
    height: 16px;
}

.burger-flex li a {
    font-family: Helvetica, serif;
    font-size: 11px;
}

/* api style */

#info {
    width: 100%;
    max-width: 1160px;
    margin: 50px auto;
}

#info h1 {
    font-size: 18px;
    font-family: Acumin Pro;
    margin-top: 20px;
    color: var(--userid-color);
}

#info h2 {
    font-size: 16px;
    font-family: Acumin Pro;
    color: var(--id-color);
}

#info h3 {
    font-size: 16px;
    font-family: Acumin Pro;
    color: var(--title-color);
}

#info p {
    font-family: Acumin Pro;
    font-weight: normal;
    font-size: 16px;
    color: var(--bodytext-color);
}

.pagination-info {
    margin: 0 auto;
    padding: 10px 0;
}

.pagination-info div {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
}

.pagination-info a {
    color: white;
    padding: 10px 0;
    cursor: pointer;
}

/* activity classes for js */
.active-page {
    font-size: 11px;
    color: var(--heading-color);
}
.active-pagination {
    color: #000;
    border-bottom: 2px var(--button-color) solid;
}
.active-burger {
    color: #000;
    fill: #000;
}